
SECRET_KEY=1idclzdo=k(ob79r^dn8v5j^jxa0dok=xw49%)*zfyvaqd+r8+
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=sqlite:///db.sqlite3